<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="PSDE_SERVICE.ServiceImplementation.PSDE_S_Behavior" name="PSDE_SERVICE.ServiceImplementation.PSDE_S">
        <endpoint address="basic" binding="basicHttpBinding" name="PSDEBasicEndpoint" bindingNamespace="http://PSDE.Model/2013/PSDE_SC" contract="PSDE_SERVICE.ServiceContracts.IPSDE_SC"/>
        <endpoint address="" binding="wsHttpBinding" name="PSDEWSEndpoint" bindingNamespace="http://PSDE.Model/2013/PSDE_SC" contract="PSDE_SERVICE.ServiceContracts.IPSDE_SC"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="PSDE_SERVICE.ServiceImplementation.PSDE_S_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>