<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PSDE_SERVICE.DataAccess.Properties.Settings.ProgramaSDE1ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProgramaSDE1;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>